.team {
	margin-bottom: 40px;
}

.team-member {
	text-align: left;
	position: relative;
	transition: 0.5s width;
	overflow: hidden;
	display: inline-block;
	margin-left: 5px;
	margin-right: 5px;
	padding: 1px;
	box-sizing: content-box;

	background: white;
	color: black;
}

.team-member, .team-member img {
	width: 35px;
	height: 35px;
	border-radius: 35px;
}

.team-member:hover {
	width: 214px;
}

.team-member span {
	display: inline-block;
	text-align: center;
	position: absolute;
	top: 6px;
	left: 28px;
	width: 190px;
}