.img-me {
	background: url(img/me.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	width: 250px;
	height: 250px;
	border-radius: 100%;
	margin: auto;
}

.fancy {
	background: #483c6c;
	color: #0cffe1;
	position: relative;
}

.fancy .img-me {
	border: 5px solid #07fadc;
	box-shadow: 0 0 100px #07fadc;
}

.fancy a {
	color: #ffa283;
}

.asteroid {
	background-image: url(img/asteroid.png);
	background-repeat: no-repeat;
	background-size: contain;
	position: absolute;
	top: 0;
	left: 0;
	width: 350px;
	height: 150px;
}

.sun {
	background-image: url(img/sun.png);
	background-repeat: no-repeat;
	background-size: contain;
	position: absolute;
	bottom: 0;
	right: 0;
	width: 350px;
	height: 350px;
	background-position-y: 100%;
}

.ship {
	background-image: url(img/ship.png);
	background-repeat: no-repeat;
	background-size: contain;
	position: absolute;
	top: 15%;
	right: 5%;
	width: 350px;
	height: 350px;
	background-position-y: 0;
	background-position-x: 100%;
}

.planets {
	background-image: url(img/saturn.gif);
	background-repeat: no-repeat;
	background-size: contain;
	position: absolute;
	bottom: 50px;
	left: 50px;
	width: 200px;
	height: 200px;
	background-position-y: 0;
	background-position-x: 0;
}


.planets {
	display: none;
}

.asteroid {
	display: none;
}

.ship {
	top: 40px;
	right: 0;
}

.down-arrow {
	display: none;
}

.me {
	padding-top: 0;
	padding-bottom: 25px;
}

.me .links {
	margin-top: 80px;
	margin-bottom: 40px;
}

.links {
	display: flex;
	justify-content: space-between;
}


.social-link {
	border: 1px solid #ffa283;
	background: #483c6c;
	color: #ffa283;

	border-radius: 3px;
	display: inline-block;
	text-align: center;
	margin-left: 10px;
}
.social-link:first-child {
	margin-left: 0px;
}

.social-link:hover {
	background: #ffa283;
	color: #483c6c;
}

.social-link {
	width: 100px;
	height: 75px;
	line-height: 75px;
	font-size: 45px;
}

.img-me {
	width: 145px;
	height: 145px;
}

@media (min-width: 768px) {
	.asteroid, .down-arrow, .planets {
		display: block;
	}
	.img-me {
		width: 250px;
		height: 250px;
	}
	.ship {
		top: 15%;
		right: -15%;
		left: auto;
	}

	.me {
		padding-top: 15px;
		padding-bottom: 15px;
	}
	.links {
		margin-top: 0px;
		margin-bottom: 0px;
		justify-content: center;
	}

	.social-link {
		font-size: inherit;
		width: 60px;
		height: 45px;
		line-height: 42px;

		margin-left: 20px;
		margin-right: 20px;
	}

	.social-link:last-child {
		margin-right: 0;
	}
}

@media (min-width: 1200px) {

	.ship {
		right: 5%;
	}
}